* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url('img/4k-wallpaper-android-wallpaper-astro-1146134.jpg');8*/
  background-color: /*#14143a*/ #2b2b4d;
  font-family: Roboto, sans-serif;
}

header {
  background: #14143a;
  padding: 25px;
  word-spacing: 20px;
}

header h1 {
  color: #0b2338;
  text-align: center;
  font-size: 4em;
  text-shadow: -1px -1px 0 lemonchiffon, 1px -1px 0 lemonchiffon,
    -1px 1px 0 lemonchiffon, 1px 1px 0 lemonchiffon;
  font-family: Anton, sans-serif;
}

/*.intro {
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}

.intro h1 {
    font-size: 3em;
}*/

/*.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.score_board {
  margin: 20px auto;
  border: 4px solid #14143a;
  border-radius: 8px;
  text-align: center;
  width: 280px;
  color: white;
  font-size: 3em;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: goldenrod;
  color: #14143a;
  font-size: 0.5em;
  padding: 2px 10px;
}

#user_label {
  position: absolute;
  top: 30px;
  left: -30px;
  border-radius: 10%;
}

#computer_label {
  position: absolute;
  top: 30px;
  right: -40px;
  border-radius: 10%;
}

.result {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.choices {
  margin: 50px auto 0;
  text-align: center;
}

.choice {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  /*border: 5px solid #ffd700;*/
  margin: 10px 15px 0;
  border: 4px solid goldenrod;
  border-radius: 50%;
}

.choice:hover {
  cursor: pointer;
  height: 137px;
  width: 137px;
  border-radius: 50%;
  background-color: lemonchiffon;
}

.choice img:hover {
  height: 133px;
  width: 133px;
}

.hands {
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
  margin: 30px auto 50px;
  /*margin-bottom: 150px;
    margin-right:100px;*/
}

.versus {
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.user_hand,
.computer_hand {
  width: 260px;
  border: 17px solid white;
  /*background-color: #2b2b4d;*/
  border-radius: 50%;
}

/*hr{
    border: 1px solid white;
    width: 400px;
    margin: auto;*/

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.greenglow {
  border: 17px solid #4dcc7d;
  box-shadow: 0 0 25px #31b43a;
}

.redglow {
  border: 17px solid red;
  box-shadow: 0 0 25px #d01115;
}

.tie_white {
  border: 17px solid white;
  box-shadow: none;
}

/*@keyframes shakePlayer {
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-25px);
    }
     20%{
        transform: translateY(0px);
    } 
    30%{
        transform: translateY(-25px);
    }
     40%{
        transform: translateY(0px);
    }
     50%{
        transform: translateY(-25px);
    }
}

@keyframes shakeComputer {
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-25px);
    }
     20%{
        transform: translateY(0px);
    } 
    30%{
        transform: translateY(-25px);
    }
     40%{
        transform: translateY(0px);
    }
     50%{
        transform: translateY(-25px);
    }
}

*/
